




.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.primary-color{
    color: #4E47FF;
   
}
.opening{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    
}
.size-1{
 width: 99px;
 height: 47px;
 font-weight: 900;
 font-size: 34px;
}
.primary-color-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
     border-radius: 10px;
}
.primary-btn{
    width: 132px;
    height: 48px;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    
}
.hero-image{
    background-image: url(./Assets/Hero-bg.png);height: 798px;
    padding: 20px;
   
   
   
    
  
}
.about{
    font-size: 70px;
    font-weight: bold;
   
    padding: 100px 200px 0px 200px;
   
    margin-left: 100px;
    margin-right: 100px;

    
}
.secondary-btn{
    font-weight: bold;
    font-size: 16px;
     border: none;
    padding: 12px 30px;
    margin-bottom: 120px;
    width: 174px;
    height: 48px;
}
.opening-2{
    text-align: center;
}
.action-title{
    font-weight: bold;
    font-size: 42px;

}
.action-description{
    font-weight:400;
    font-size: 24px;
}
.action{
    display: flex;
    justify-content: space-around;

}
.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.action-div{
    text-align: left;
}
.productive-users{
  background-color: rgba(78, 71, 255, 0.09) ;
  max-width: 1140px;
  height: 280px;
  border-radius: 24;
  margin:116px 159px 137px 141px;
  text-align: center;
  padding: 50px 142px;

}
.productivity-items{
    display: flex;
    justify-content: space-around;
}
.productive-title{
    width: 694px;
    height: 45px;
    font-weight: bold;
    font-size: 38;
    color: #252432;



}




.number-productivity{
font-weight: bold;
font-size: 80px;
width: 162px;
height: 97px;
margin: auto auto;
color: rgba(78, 71, 255, 1);
}
.prductivity-discription{
color: rgba(0, 0, 0, 0.5);
font-weight: 400;
font-size: 20px;


}

.touch-section{
   display:flex;
   justify-content: space-around;
}
.touch-section-title{
    width: 528px;
    height: 232px;
    font-size: 97px;
    font-weight: bold;
}
.form-section{
    width: 497px;
    font-size: 18px;
    font-weight: 500;
}
.form-types{
    width: 497px;
    font-weight: 400px;
    border-color: rgba(0, 0, 0, 0.5);
    height: 84px;
    font-size: 20px;
}
.message-height{
    height: 150px;
}
.form-button{
    width: 497px;
    height: 62px;
    font-size: 16px;
    font-weight: bold;
}
.footer-section{
   
    height: 428px;
    text-align: center;
 
}
.footer-link{
    display: flex;
}
 div ul li{
    list-style: none;
    margin: 48px;
    justify-content: center;
   
    
}
div ul li a{
    text-decoration: none;
    text-align: center;
     color: #8987A1;
}
    

 div ul{
    display: flex;
    margin: 48px;
    text-align: center;
    justify-content: center;
    
}
.footer-title{
    font-weight: 900px;
    font-size: 100px;
    margin-top: 104px;
    
}
.footer-description{
    color: rgba(137, 135, 161, 1);
    font-size: 30px
    
    
}
.link{
   
    font-size: 30px;
}
.card-about{
    width: 1140px;
    height: 49px;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin: auto;
}
.card-container{
    width: 366px;
    height: 243px;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 10px;
    
}
.card-footer{
    display: flex;
    gap: 20px;
}
.image{
    width: 70px;
    height: 70px;
}
.card-title{
    color: rgba(30, 30, 30, 1);
    height: 29px;
    width: 221px;
    font-size: 24;
    font-weight: 700px;
}
.card-description{
    color: rgba(30, 30, 30, 1);
    width:319px ;
    height:44px ;
    font-size: 16px;
}
.card-section{
    max-width: 1140px;
    background-color: ;
}
.footer-2{
padding: auto;
margin: 0px
}
.reviewer{
    color: #757575;
    
}
.date{
    color: #B3B3B3;
}
.card-container{
    display: flex;
    gap: 50px;
    margin: 60px 0 20px 350px;
}
.all-button:hover{
    color: black;
    background-color: yellowgreen;
}